In [4]:
l = []

for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [5]:
lst = [letter for letter in 'word']
print l
print lst

['w', 'o', 'r', 'd']
['w', 'o', 'r', 'd']

In [8]:
lst = [num**2 for num in range(0,11)]

In [9]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
l = []

for num in range(0,11):
    l.append(num**2)
    
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
lst = [number for number in range(11) if number % 2 == 0]

In [12]:
lst

[0, 2, 4, 6, 8, 10]

In [19]:
celsius = [0,10,20.1,34.5]

In [25]:
fahrenheit = [(temp * (9/5.0) + 32) for temp in celsius]

print celsius
print fahrenheit

[0, 10, 20.1, 34.5]
[32.0, 50.0, 68.18, 94.1]

In [27]:
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]